<div id="music-widget" class="flex-column w-100 px-5">
    <h2 class="music-title text-center py-4">MUSIC</h2>
    <ul class="list-unstyled list-inline justify-content-around d-flex">
        <li class="text-center">
            <a href="#">
                <img class="logo"
                     src="assets/images/services/Spotify_Logo_RGB_Green.png"
                     height="40px"
                     alt="stream_on_spotify"/>
            </a>
        </li>
        <li class="text-center">
            <a href="#">
                <img class="logo"
                     src="assets/images/services/US-UK_Apple_Music_Badge_RGB.svg"
                     height="40px"
                     alt="stream_on_apple_music"/>
            </a>
        </li>
        <li class="text-center">
            <a href="#">
                <img class="logo"
                     src="assets/images/services/US_UK_iTunes_Store_Buy_Badge_RGB_011818.svg"
                     height="40px"
                     alt="buy_on_itunes"/>
            </a>
        </li>
        <li class="text-center">
            <a href="#">
                <img class="logo"
                     src="assets/images/services/yt_logo_rgb_light.png"
                     height="40px"
                     alt="listen_on_youtube"/>
            </a>
        </li>
    </ul>
</div>
