<div id="slideshow-widget" data-component="slideshow">
    <div role="list">
        <div class="slide">
            <img src="assets/images/billie.jpeg" alt="billie_image">
        </div>
        <div class="slide">
            <img src="assets/images/ed.jpeg" alt="ed_image">
        </div>
        <div class="slide">
            <img src="assets/images/TempPic.png" alt="temp_image">
        </div>
        <div class="slide">
            <img src="assets/images/RandomDude.jpg" alt="random_dude_image">
        </div>
    </div>
</div>