<footer class="text-center">
    <ul class="list-unstyled list-inline justify-content-center d-flex pt-3 pb-0 mb-0">
        <li class="text-center px-2">
            <a href="#">
                <img class="logo"
                     src="assets/images/social/Twitter_Logo_Blue.png"
                     height="40px"
                     alt="twitter_logo"/>
            </a>
        </li>
        <li class="text-center px-2">
            <a href="#">
                <img class="logo"
                     src="assets/images/social/Twitter_Logo_Blue.png"
                     height="40px"
                     alt="twitter_logo"/>
            </a>
        </li>
        <li class="text-center px-2">
            <a href="#">
                <img class="logo"
                     src="assets/images/social/Twitter_Logo_Blue.png"
                     height="40px"
                     alt="twitter_logo"/>
            </a>
        </li>
    </ul>
    <div class="pb-2 align-items-center">
      <small>
        &copy;ZacariasMusic 2020
      </small>
    </div>
</footer>
