<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111244584-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-111244584-3');
    </script>

    <meta charset="UTF-8"/>
    {{ partial "title.html" . }}

    <link type="text/css" rel="stylesheet" href="assets/css/commons.css">
    <link type="text/css" rel="stylesheet" href="assets/css/index.css">

    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="assets/js/commons.js" defer></script>
    <script src="assets/js/index.js" defer></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,900" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="flex-column">
{{ partial "header.html" . }}
<main id="frontpage">
    {{ partial "content.html" . }}
</main>
{{ partial "footer.html" . }}
</body>
</html>
