@import "../../app";

nav#mid-nav {
  background-color: $gray-dark;
  color: white;
  justify-content: flex-end;

  a.nav-item {
    text-decoration: none;
    color: white;

    &:hover {
      color: gold;
    }
  }
}